html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

h1 {
  font-size: 55px;
  line-height: 1;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 107px;
}

h2 {
  font-size: 45px;
  line-height: 1;
  margin-top: 35px;
}

h3 {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}


/*header*/

.header {
  background-color: #eeeeee;
  padding-top: 49px;
  margin-bottom: 45px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.index-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.navigator {
  width: 650px;
}

.navigator ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigator li {
  vertical-align: top;
  font-size: 16px;
  padding-right: 28px;
}

.navigator a {
  display: inline-block;
  padding: 10px 20px;
  padding-left: 0;
}

.top-menu a {
  color: #000000;
  text-decoration: none;
}

.top-menu a:hover {
  color: #fb565a;
}

.top-menu a:active {
  color: #bababa;
  border-bottom: 2px solide #fb565a;
}

.shopping a {
  display: inline-block;
  text-align: left;
  padding-bottom: 15px;
  padding-right: 0;
}

.nerds {
  display: none;
}

.sprite::before {
  content: '';
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.cart::before {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
  padding-left: 25px;
}

.sprite-checkbox-off {
  width: 23px;
  height: 23px;
  background-position: -5px -30px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -5px -63px;
}

.sprite-vk-icon {
  width: 26px;
  height: 15px;
  background-position: -5px -229px;
}

.sprite-fb-icon {
  width: 12px;
  height: 22px;
  background-position: -5px -96px;
}

.sprite-insta-icon {
  width: 21px;
  height: 21px;
  background-position: -5px -128px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -5px -159px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -5px -194px;
}


/*footer*/

.main-footer {}

.contacts-wrapper {
  position: relative;
  padding: 0 0;
}

.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #eeeeee;
  background: url(../img/map.png) no-repeat 50% 0;
  background-size: 1440px 416px;
  color: #000000;
  z-index: -1;
}

.contacts {
  width: 320px;
  padding: 47px 50px;
  background: white;
  margin: 55px 0;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  padding-right: 140px;
}

.social {
  width: 360px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.sprite-vk-icon::before {
  width: 26px;
  height: 15px;
  background-position: -5px -229px;
}

.sprite-fb-icon::before {
  width: 12px;
  height: 22px;
  background-position: -5px -96px;
}

.sprite-insta-icon::before {
  width: 21px;
  height: 21px;
  background-position: -5px -128px;
}

.slogan {
  width: 780px;
  vertical-align: top;
  text-align: left;
}

.slogan h2 {
  font-size: 36px;
  line-height: 1;
}


/* Всплывающая форма */

.modal-content {
  display: inline-block;
  width: 960px;
  padding: 70px 100px;
  background: white;
  position: absolute;
  top: -100px;
  left: 100px;
  color: #000000;
}

.write-us input {
  width: 360px;
}

.write-us textarea {
  width: 100%;
}

.write-us .btn {
  font: inherit;
}


/*index*/

.slider-box {
  position: relative;
  width: 1160px;
  height: 413px;
  margin: 0 auto;
  border: 1px dotted black;
  padding-top: 35px;
  margin-bottom: 80px;
  font-size: 16px;
}

.slider-box input {
  display: none;
}

.controls {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: -51px;
}

.controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background: white;
  border: 6px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider {
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.slider b {
  font-size: 55px;
  line-height: 1;
  font-weight: bold;
  color: black;
  padding-top: 65px;
  padding-bottom: 42px;
}

.slider p {
  width: 560px;
  margin: 0;
  padding-bottom: 30px;
  color: #283136;
}

.slider .btn {
  display: block;
  width: 240px;
  padding: 10px 0;
  margin-top: 15px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  margin-bottom: 80px;
}

.slide-desing {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 100% -20px;
}

.slide-math {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -20px;
}

.slide-work {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% -20px;
}

.slide {
  display: none;
  height: 100%;
}

#btn-1:checked ~ .slider .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slider .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .controls label:nth-child(1) {
  background: #c1c1c1;
}

#btn-2:checked ~ .controls label:nth-child(2) {
  background: #c1c1c1;
}

#btn-3:checked ~ .controls label:nth-child(3) {
  background: #c1c1c1;
}

.advantages {
  display: flex;
  text-align: left;
  margin-bottom: 80px;
}

.advantages h3 {
  font-size: 24px;
  padding-top: 148px;
}

.advantages p {
  padding-top: 0px;
}

.sites {
  width: 300px;
  margin-right: 98px;
  background: url(../img/web-site.png) no-repeat;
}

.apps {
  width: 300px;
  margin-right: 100px;
  background: url(../img/app.png) no-repeat;
}

.presentation {
  width: 300px;
  background: url(../img/presentations.png) no-repeat;
}

.btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 14px 40px;
  font: inherit;
  color: white;
  background: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 10px;
}

.green {
  background: #00ca74;
}

.red {
  background: #fb565a;
}

.yellow {
  background: #efc84a;
}

.btn:hover {
  background: #dfdfdf;
}

.btn:active {
  background: #d5d5d5;
}

.line {
  width: 1160px;
  border: 2px solid #eeeeee;
  margin-bottom: 40px;
}

.information {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin-bottom: 55px;
}

.feaatures {
  width: 660px;
  margin-right: 140px;
}

.features p {
  font: inherit;
}

.statistic {
  width: 360px;
}

.statistic img {
  margin-bottom: 40px;
}

span {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.statistics-items-wrapper {
  display: flex;
  justify-content: space-between;
}

.statistics-item {
  flex: 1;
}

.statistics-item-value {
  width: 100px;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  padding-top: 30px;
  margin-bottom: 10px;
}

.statistics-item-value::after {
  content: '%';
  font-size: 20px;
  vertical-align: super;
}

.projects {
  display: flex;
  justify-content: space-around;
  padding: 22px 0;
}

.projects a {
  background: #ffffff;
  opacity: 0.6;
}

.projects a::hover {
  background: #ffffff;
  opacity: 1;
}


/*catalog*/

.main-catalog {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.form {
  width: 260px;
  min-height: 780px;
}

form .btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font: inherit;
  color: black;
  background: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
}

.range {
  width: 260px;
  white-space: nowrap;
  margin-bottom: 60px;
}

.background-track {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 30px;
  background: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.full-track {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}

.bar {
  height: 2px;
  background: #00ca74;
}

.active-track button {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  cursor: pointer;
  border-radius: 60%;
  box-shadow: 0 2px 1px 0 #d9d9d9;
  background: #ababab;
}

.active-track .max {
  left: 145px;
}

.range input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  margin-right: 30px;
  border: none;
  background: #eeeeee;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  border-radius: 5px;
}

.range h3 {
  margin-bottom: 50px;
}

.radio {
  margin-top: 45px;
}

.sprite-radio-off {
  width: 25px;
  height: 25px;
  background-position: -5px -159px;
}

.sprite-radio-on {
  width: 25px;
  height: 25px;
  background-position: -5px -194px;
}

.checkbox {
  margin-top: 50px;
}

.checkbox ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  display: block;
  margin: 10px 0;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]+label {
  content: "";
  display: block;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-position: -5px -63px;
}

.sprite-checkbox-off {
  width: 23px;
  height: 23px;
  background-position: -5px -30px;
}

.sprite-checkbox-on {
  width: 27px;
  height: 23px;
  background-position: -5px -63px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.category a {
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding-right: 20px;
}

.down {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 10px;
  border: 9px solid #ffffff;
  border-bottom-width: 0;
  border-top-color: #cccccc;
  border-right-color: transparent;
  border-left-color: transparent;
}

.up {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 10px;
  border: 9px solid #ffffff;
  border-top-width: 0;
  border-bottom-color: #cccccc;
  border-right-color: transparent;
  border-left-color: transparent;
}

.catalog {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 760px;
  margin-bottom: 60px;
}

.product {
  width: 360px;
  background: #e9e9e9;
  margin-bottom: 35px;
}

.product::before {
  content: '';
  position: relative;
  left: 15px;
  top: -5px;
  width: 15px;
  height: 15px;
  background: white;
  display: block;
  border-radius: 50%;
  box-shadow: 30px 0 0 0 white, 60px 0 0 0 white;
}

.product a {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.hover {
  width: 360px;
  position: absolute;
  top: -230px;
  background: #e9e9e9;
  text-align: center;
  padding: 35px 80px;
  opacity: 0;
}

.hover::hover {
  width: 360px;
  background: #e9e9e9;
  text-align: center;
  padding: 35px 80px;
  opacity: 1;
}

.paginator {
  margin-bottom: 40px;
}

.paginator a {
  font: inherit;
  color: black;
}

.paginator .current {
  background: white;
  border: 2px solid #dbdbdb;
}
