body {
	font-family: "Roboto", "Arial", sans-serif;
	color: #000000;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}

h1 {
	font-size: 55px;
	line-height: 1;
	font-weight: bold;
}

h2 {
	font-size: 45px;
  line-height: 1;
	font-weight: bold;
}

h3{
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
}
