# Файл с настройками для редактора.
#
# Если вы разрабатываете в редакторе от JetBrains, BBEdit, Coda или SourceLair
# этот файл уже поддерживается и не нужно производить никаких дополнительных действий.
#
# Если вы ведёте разработку в другом редакторе, зайдите на http://editorconfig.org
# и в разделе "Download a Plugin" скачайте дополнение для вашего редактора.

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
insert_final_newline = true

# отступы в 2 пробела
[*.py]
indent_style = space
indent_size = 2

# Используем табы для отступов (Не указываем размер)
[*.js]
indent_style = tab

# Перезависываем настройку отступов для js файлов в папке lib
[lib/**.js]
indent_style = space
indent_size = 2

# Только для файлов package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

